In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/anasghonaim/Library/CloudStorage/OneDrive-Personal/Ironhack/Week 5/week5_6_project/data/cleaned/df_web_experiment.csv")

/var/folders/wc/048rx86x7bqbzmjn7nr46j_80000gn/T/ipykernel_2105/853284513.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/anasghonaim/Library/CloudStorage/OneDrive-Personal/Ironhack/Week 5/week5_6_project/data/cleaned/df_web_experiment.csv")

In [3]:
df

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...,...
755400,755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,NaN
755401,755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,NaN
755402,755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,NaN
755403,755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,NaN
755404,755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaN

In [4]:
df.isna().sum()

Unnamed: 0           0
client_id            0
visitor_id           0
visit_id             0
process_step         0
date_time            0
Variation       434096
dtype: int64

In [5]:
# Ensure date_time is datetime
df['date_time'] = pd.to_datetime(df['date_time'])

# Find the row index of the maximum date_time per visit_id
idx = df.groupby('visit_id')['date_time'].idxmax()

# Set all last_steps to empty by default
df['last_step'] = ""

# Assign process_step as last_step only for the last row of each visit
df.loc[idx, 'last_step'] = df.loc[idx, 'process_step']

In [6]:
# Calculate the total time spent in each visit
visit_time_spans = df.groupby('visit_id')['date_time'].agg(lambda x: x.max() - x.min())

# Assign each row the time spent for its visit_id
df['time_spent'] = df['visit_id'].map(visit_time_spans).astype(str).str.split(" ").str[2]

df = df[df['last_step'] != ""]

df

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,Variation,last_step,time_spent
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,step_3,00:10:45
8,8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05,Test,confirm,00:01:59
13,13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03,Control,confirm,00:25:03
24,24,1982004,618934751_10082078917,132494692_73738638511_70823,confirm,2017-04-17 12:02:42,Test,confirm,00:03:00
29,29,9294070,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:28,Control,start,00:00:15
...,...,...,...,...,...,...,...,...,...
755375,755375,2443347,818414719_69544570654,148166449_67114410166_524360,confirm,2017-05-30 19:18:18,NaN,confirm,00:00:00
755376,755376,9895983,473024645_56027518531,498981662_93503779869_272484,confirm,2017-06-15 19:55:09,NaN,confirm,00:11:04
755382,755382,9563467,358754208_29929976792,172141804_88150434297_748843,step_1,2017-05-18 08:38:37,NaN,step_1,00:01:08
755384,755384,9668240,388766751_9038881013,922267647_3096648104_968866,confirm,2017-05-24 19:07:35,NaN,confirm,00:23:01
755404,755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaN,start,00:00:00

In [7]:
df = df.drop(columns=['Unnamed: 0'])

In [8]:
df

,client_id,visitor_id,visit_id,process_step,date_time,Variation,last_step,time_spent
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,step_3,00:10:45
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05,Test,confirm,00:01:59
13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03,Control,confirm,00:25:03
24,1982004,618934751_10082078917,132494692_73738638511_70823,confirm,2017-04-17 12:02:42,Test,confirm,00:03:00
29,9294070,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:28,Control,start,00:00:15
...,...,...,...,...,...,...,...,...
755375,2443347,818414719_69544570654,148166449_67114410166_524360,confirm,2017-05-30 19:18:18,NaN,confirm,00:00:00
755376,9895983,473024645_56027518531,498981662_93503779869_272484,confirm,2017-06-15 19:55:09,NaN,confirm,00:11:04
755382,9563467,358754208_29929976792,172141804_88150434297_748843,step_1,2017-05-18 08:38:37,NaN,step_1,00:01:08
755384,9668240,388766751_9038881013,922267647_3096648104_968866,confirm,2017-05-24 19:07:35,NaN,confirm,00:23:01
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaN,start,00:00:00

In [9]:
# Extract df to csv
df.to_csv("/Users/anasghonaim/Library/CloudStorage/OneDrive-Personal/Ironhack/Week 5/week5_6_project/data/cleaned/df_web_laststep_timespent.csv", index=False)

In [10]:
df['last_step'] = ""

for i in range(len(df)):
    client_rows = df[df['client_id'] == df.loc[i, 'client_id']]
    max_date = client_rows['date_time'].max()
    if df.loc[i, 'date_time'] == max_date:
        df.loc[i, 'last_step'] = df.loc[i, 'process_step']

# Ensure date_time column is datetime, if necessary:
df['date_time'] = pd.to_datetime(df['date_time'])

# Compute the time span for each client in a vectorized way:
time_spans = df.groupby('client_id')['date_time'].agg(lambda x: x.max() - x.min())

# Assign back to a new column for each row's client:
df['time_spent'] = df['client_id'].map(time_spans)

KeyError: 1

In [ ]:
df['date_time'] = pd.to_datetime(df['date_time'])
df

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,Variation,last_step,time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,step_3,15:27:07
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,,15:26:51
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,,15:19:22
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,,15:19:13
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,,15:18:04
...,...,...,...,...,...,...,...,...,...
755400,755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,NaN,,18:46:10
755401,755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,NaN,,18:45:29
755402,755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,NaN,,18:44:51
755403,755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,NaN,,18:44:34
755404,755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaN,start,12:17:09

In [ ]:
filtered_df = df[df['client_id'] == 9988021]
filtered_df

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,Variation,last_step,time,time_spent
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,step_3,15:27:07,4 days 22:29:40
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,,15:26:51,4 days 22:29:40
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,,15:19:22,4 days 22:29:40
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,,15:19:13,4 days 22:29:40
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,,15:18:04,4 days 22:29:40
5,5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15,Test,,15:17:15,4 days 22:29:40
6,6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01,Test,,15:17:01,4 days 22:29:40
7,7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22,Test,,15:16:22,4 days 22:29:40
129,129,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:54:43,Test,,18:54:43,4 days 22:29:40
130,130,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:38:42,Test,,18:38:42,4 days 22:29:40
131,131,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:22:40,Test,,18:22:40,4 days 22:29:40
132,132,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:06:39,Test,,18:06:39,4 days 22:29:40
133,133,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 17:50:38,Test,,17:50:38,4 days 22:29:40
161,161,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 17:34:37,Test,,17:34:37,4 days 22:29:40
162,162,9988021,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 16:57:27,Test,,16:57:27,4 days 22:29:40

In [31]:
# Ensure date_time column is datetime, if necessary:
df['date_time'] = pd.to_datetime(df['date_time'])

# Compute the time span for each client in a vectorized way:
time_spans = df.groupby('visit_id')['date_time'].agg(lambda x: x.max() - x.min())

# Assign back to a new column for each row's client:
df['time_spent'] = df['visit_id'].map(time_spans)

df

,client_id,visitor_id,visit_id,process_step,date_time,Variation,repeated_step,step_repeated,time_spent
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test,1,step_3,0 days 00:10:45
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test,1,step_2,0 days 00:10:45
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test,1,step_3,0 days 00:10:45
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test,1,step_2,0 days 00:10:45
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test,1,step_3,0 days 00:10:45
...,...,...,...,...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,NaN,1,start,0 days 00:23:01
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,NaN,1,start,0 days 00:23:01
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,NaN,1,step_1,0 days 00:23:01
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,NaN,1,start,0 days 00:23:01
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaN,0,NaN,0 days 00:00:00

In [ ]:
df5 = pd.read_csv("/Users/anasghonaim/Library/CloudStorage/OneDrive-Personal/Ironhack/Week 5/week5_6_project/data/raw/df_final_experiment_clients.txt")
df5

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [ ]:
df5["Variation"].value_counts()

Variation
Test       26968
Control    23532
Name: count, dtype: int64

In [11]:
df = pd.read_csv("/Users/anasghonaim/Library/CloudStorage/OneDrive-Personal/Ironhack/Week 5/week5_6_project/data/cleaned/df_web_experiment.csv")

/var/folders/wc/048rx86x7bqbzmjn7nr46j_80000gn/T/ipykernel_2105/853284513.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/anasghonaim/Library/CloudStorage/OneDrive-Personal/Ironhack/Week 5/week5_6_project/data/cleaned/df_web_experiment.csv")

In [16]:
df

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...,...
755400,755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,NaN
755401,755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,NaN
755402,755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,NaN
755403,755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,NaN
755404,755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaN

In [15]:
df.dtypes

Unnamed: 0       int64
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
Variation       object
dtype: object

In [29]:
# Creating column for repeated step by visit_id, and creating another column to display the step name if repeated
df['repeated_step'] = df.duplicated(subset=['visitor_id', 'process_step'], keep=False).astype(int)
df['step_repeated'] = df['process_step'].where(df['repeated_step'] == 1)
df.drop(columns=['Unnamed: 0'], inplace=True)

In [30]:
df.to_csv("/Users/anasghonaim/Library/CloudStorage/OneDrive-Personal/Ironhack/Week 5/week5_6_project/data/cleaned/df_web_experiment_repeated_steps.csv", index=False)

In [ ]:
df3 =